<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>pillloMart</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link rel="icon" href="/img/pillow_favicon.png">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <style>
        .footer_sec{
            margin-top: 22%;
        }
        .cate_input{
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;
            padding: 6px 10px;
        }
          .nav-link.active{
            color: #B08EAD !important;
            border-color: #B08EAD !important;
        }
        .nav-link:hover{
            color: #B08EAD !important;
            border-color: #B08EAD !important;
        }

        .order_action{
            min-width: 200px;
        }
         .container{
            margin-bottom: 50px !important;
        }
         body::-webkit-scrollbar{
            width: 14px;
         }
         body::-webkit-scrollbar-thumb{
            background-color: #009CFF;
         }
         body::-webkit-scrollbar-track{
            background-color: white;
         }
    </style>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->


  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
      <a th:href="@{/admin/dashboard}" class="navbar-brand mx-4 mb-3">
        <img th:src="@{/img/logo_pillow.png}"/>
      </a>
      <!--                <div class="d-flex align-items-center ms-4 mb-4 mt-2">-->
      <!--                    <div class="position-relative">-->
      <!--                        <img class="rounded-circle" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">-->
      <!--                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>-->
      <!--                    </div>-->
      <!--                    <div class="ms-3">-->
      <!--                        <h6 class="mb-0">Thuong Tran</h6>-->
      <!--                        <span>Admin</span>-->
      <!--                    </div>-->
      <!--                </div>-->
      <div class="navbar-nav w-100">
        <a th:href="@{/admin/dashboard}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Product</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a th:href="@{/admin/product}" class="dropdown-item">Show Product</a>
            <a th:href="@{/admin/product/add}" class="dropdown-item">Add Product</a>

          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Category</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a th:href="@{/admin/category}" class="dropdown-item">Show Category</a>
            <a th:href="@{/admin/category/add}" class="dropdown-item">Add Category</a>

          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Blog</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a th:href="@{/admin/blog}" class="dropdown-item">Show Blog</a>
            <a th:href="@{/admin/blog/add}" class="dropdown-item">Add Blog</a>

          </div>
        </div>
        <a th:href="@{/admin/order}" class="nav-item nav-link active"><i class="fa fa-laptop me-2"></i>Order</a>
        <a th:href="@{/admin/contact}" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Contact</a>
        <!--                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>-->
        <!--                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>-->
        <!--                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>-->
        <!--                    <div class="nav-item dropdown">-->
        <!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>-->
        <!--                        <div class="dropdown-menu bg-transparent border-0">-->
        <!--                            <a href="signin.html" class="dropdown-item">Sign In</a>-->
        <!--                            <a href="signup.html" class="dropdown-item">Sign Up</a>-->
        <!--                            <a href="404.html" class="dropdown-item">404 Error</a>-->
        <!--                            <a href="blank.html" class="dropdown-item">Blank Page</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
      </div>
    </nav>
  </div>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
      <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
      </a>
      <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
      </a>
      <!--                <form class="d-none d-md-flex ms-4">-->
      <!--                    <input class="form-control border-0" type="search" placeholder="Search">-->
      <!--                </form>-->
      <div class="navbar-nav align-items-center ms-auto">
        <!--                    <div class="nav-item dropdown">-->
        <!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
        <!--                            <i class="fa fa-envelope me-lg-2"></i>-->
        <!--                            <span class="d-none d-lg-inline-flex">Message</span>-->
        <!--                        </a>-->
        <!--                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <div class="d-flex align-items-center">-->
        <!--                                    <img class="rounded-circle" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">-->
        <!--                                    <div class="ms-2">-->
        <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
        <!--                                        <small>15 minutes ago</small>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <div class="d-flex align-items-center">-->
        <!--                                    <img class="rounded-circle" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">-->
        <!--                                    <div class="ms-2">-->
        <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
        <!--                                        <small>15 minutes ago</small>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <div class="d-flex align-items-center">-->
        <!--                                    <img class="rounded-circle" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">-->
        <!--                                    <div class="ms-2">-->
        <!--                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>-->
        <!--                                        <small>15 minutes ago</small>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item text-center">See all message</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="nav-item dropdown">-->
        <!--                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">-->
        <!--                            <i class="fa fa-bell me-lg-2"></i>-->
        <!--                            <span class="d-none d-lg-inline-flex">Notificatin</span>-->
        <!--                        </a>-->
        <!--                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <h6 class="fw-normal mb-0">Profile updated</h6>-->
        <!--                                <small>15 minutes ago</small>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <h6 class="fw-normal mb-0">New user added</h6>-->
        <!--                                <small>15 minutes ago</small>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item">-->
        <!--                                <h6 class="fw-normal mb-0">Password changed</h6>-->
        <!--                                <small>15 minutes ago</small>-->
        <!--                            </a>-->
        <!--                            <hr class="dropdown-divider">-->
        <!--                            <a href="#" class="dropdown-item text-center">See all notifications</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <img class="rounded-circle me-lg-2" th:src="@{/img/admin_avatar.png}" alt="" style="width: 40px; height: 40px;">
            <span class="d-none d-lg-inline-flex">Admin</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
            <!--                            <a href="#" class="dropdown-item">My Profile</a>-->
            <!--                            <a href="#" class="dropdown-item">Settings</a>-->
            <a th:href="@{/logout}" class="dropdown-item">Log Out</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->


    <!-- Chart Start -->
    <div class="container">
      <h2 class="text-center mt-5 mb-5">Order List</h2>

      <table id="example" class="table text-center mt-4">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Order</th>
          <th>Payment Method</th>
          <th>Order Status</th>
          <th>Total Price</th>
          <th>Order Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="order: ${listOrder}">
            <td th:text="${order.user.firstName}"></td>
            <td th:text="${order.product_name}"></td>
            <td th:text="${order.payment_method}"></td>
            <div th:if="${order.order_status == 'Paid'}">
              <td>
                <button class="btn btn-success">[[${order.order_status}]]</button>
              </td>
            </div>
            <div th:if="${order.order_status == 'Processing'}">
              <td>
                <button class="btn btn-warning">[[${order.order_status}]]</button>
              </td>
            </div>
            <td>$[[${order.total_cost}]]</td>
            <td th:text="${order.order_date}"></td>

            <div th:if="${order.order_status == 'Processing'}">
              <td class="order_action">
                <a th:href="@{/admin/order/confirm/{id}(id=${order.id})}" onclick="return confirm('Is this order confirmed to have been successfully paid?')"><button class="btn btn-info">Payment confirmation</button></a>
              </td>
            </div>
            <div th:if="${order.order_status == 'Paid'}">
              <td class="order_action"></td>
            </div>


          </tr>
        </tbody>
      </table>
<!--            <ul class="pagination mt-4">-->
<!--              <li th:classappend="${pageNo==0} ? 'disabled' : '' " class="page-item">-->

<!--                <a class="page-link" th:href="@{'/paginateOrder/'+${pageNo-1}} + '?sortField='+${sortField}+'&sortDir='+${sortDir} ">Previous</a>-->

<!--              </li>-->


<!--              <li th:each="i : ${#numbers.sequence(1,totalPage)}" th:classappend="${pageNo+1==i}?'active':''" class="page-item">-->

<!--                <a class="page-link" th:href="@{'/paginateOrder/'+${i-1}}+ '?sortField='+${sortField}+'&sortDir='+${sortDir}  ">[[${i}]]</a>-->

<!--              </li>-->


<!--              <li th:classappend="${pageNo+1 == totalPage} ?  'disabled' : ''  " class="page-item">-->
<!--                <a class="page-link" th:href="@{'/paginateOrder/'+${pageNo+1}} + '?sortField='+${sortField}+'&sortDir='+${sortDir} ">Next</a>-->

<!--              </li>-->
<!--            </ul>-->
    </div>

    <!-- Chart End -->


    <!-- Footer Start -->
    <!--            <div class="container-fluid pt-4 px-4 footer_sec">-->
    <!--                <div class="bg-light rounded-top p-4">-->
    <!--                    <div class="row">-->
    <!--                        <div class="col-12 text-center">-->
    <!--                            Copyright &copy; by <span style="color: #009CFF;">Tran Dac Thuong</span>, All Right Reserved.-->
    <!--                        </div>-->

    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!-- Footer End -->
  </div>
  <!-- Content End -->


  <!-- Back to Top -->
  <!--        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/chart/chart.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
</body>

</html>